<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.sqlserver.Ods_otherMapper">

    <!--查询信息-->
    <select id="getHospbedInfo" resultType="com.example.demo.pojo.model.Other.Ods_resource_hospbed_info">
SELECT * FROM ODR..v_odr_resource_hospbed_info 
    </select>

    <!--查询信息-->
    <select id="getLocbedInfo" resultType="com.example.demo.pojo.model.Other.Ods_resource_locbed_info">
 SELECT * FROM ODR..v_odr_resource_locbed_info 
    </select>

    <!--字典表-->
    <select id="getDimIoc" resultType="com.example.demo.pojo.model.Ods_dim_loc">
SELECT * FROM ODR..v_odr_dim_loc 
    </select>

    <!--职工信息表-->
    <select id="getBaseInfo" resultType="com.example.demo.pojo.model.Ods_user_base_info">
SELECT * FROM ODR..v_odr_user_base_info
</select>
    <!--医嘱明细记录表-->
    <select id="getOrderList" resultType="com.example.demo.pojo.model.Ods_order_list">
SELECT * FROM ODR..v_odr_order_list 
    </select>

    <!--	收费项目明细记录表-->
    <select id="getChagedetailList" resultType="com.example.demo.pojo.model.Ods_chagedetail_list">
SELECT * FROM ODR..v_odr_chagedetail_list 
    </select>
</mapper>