<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.Ods_ip_mrbase_infoMaper">

    <!--查询信息-->
    <select id="getMrbaseInfo" resultType="com.example.demo.pojo.model.Ods_ip_mrbase_info">
SELECT TOP 10 [medical_institution_code] mrbase_01
, [medical_institution_name] mrbase_02
,[inpatient_number] mrbase_03
,[medical_record_number]  mrbase_04
,[patient_id]  mrbase_05
,[mrbase_write_time]  mrbase_06
,[medical_record_number]  mrbase_07
,[hospital_times]  mrbase_08
,left([in_date],4)+'-'+substring([in_date],5,2)+'-'+substring([in_date],7,2)+' '+substring([in_date],10,2)+':'+substring([in_date],12,2)+':'+substring([in_date],14,2) mrbase_09
,left([out_date],4)+'-'+substring([out_date],5,2)+'-'+substring([out_date],7,2)+' '+substring([out_date],10,2)+':'+substring([out_date],12,2)+':'+substring([out_date],14,2) mrbase_10
,[health_card_code] mrbase_11  --健康卡缺少
,[medical_pay_type_code]  mrbase_12
,[patient_name] mrbase_13
,sex_code mrbase_14
,left([birthday],4)+'-'+substring([birthday],5,2)+'-'+right([birthday],2) mrbase_15
,[age_year] mrbase_16
,[nationality_code] mrbase_17
,[marriage_state_code]  mrbase_18
,profession_type_code mrbase_19
,[nation_name] mrbase_20  --转成code
,id_category_code mrbase_21
,[patient_identity_card_number] mrbase_22
,[id_category_code] mrbase_23
,[birthplace_city] mrbase_24
,[birthplace_province]  mrbase_25
,[account_address_province] mrbase_26
,[account_address_postal_code] mrbase_27
,[present_address_province] mrbase_28
,[telephone_number] mrbase_29
,[present_address_postal_code] mrbase_30
,[work_unit_name]  mrbase_31
,[work_telephone_number] mrbase_32
,[work_postal_code]  mrbase_33
,[contact_name]  mrbase_34
,[contact_patient_relation_code]  mrbase_35
,[contact_address_province]  mrbase_36
,[contact_telephone_number] mrbase_37
, '2' mrbase_38
,[in_route_code] mrbase_39
,[in_dept_code] mrbase_40
,[in_dept_name] mrbase_41
,[in_dept_code]  mrbase_42
,[in_dept_name]  mrbase_43
,[in_ward_code] mrbase_44
,'' mrbase_45
,[patient_in_dept_category] mrbase_46 --集合
,(SELECT
      [DeptName]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[DEPT] c where c.[DeptCode]=a.patient_in_dept_category ) mrbase_47 --集合
,[patient_in_dept_category] mrbase_48 --集合
,(SELECT  [DeptCode]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[DEPT] c where c.[DeptCode]=a.patient_in_dept_category) mrbase_49 --集合
,[out_dept_code] mrbase_50
,[out_dept_name] mrbase_51
,[out_dept_code] mrbase_52
,[out_dept_name] mrbase_53
,[out_ward_number] mrbase_54 --出院病房代码
,''mrbase_55 --出院病房名称无值
,[actual_hospital_day] mrbase_56
,[injury_poisoning_disease_code]   mrbase_57
,[injury_poisoning_disease_external_reason] mrbase_58
,[drug_allergy_flag]  mrbase_59
,[allergy_drug] mrbase_60
,[HBsAg]  mrbase_61
,[HCV-Ab] mrbase_62
,[HIV-Ab]  mrbase_63
,[dept_director_code]  mrbase_64
,[dept_director_signature] mrbase_65
,[chief_doctor_code] mrbase_66
,[chief_doctor_code] mrbase_67
,[chief_doctor_signature] mrbase_68
,[charge_doctor_code] mrbase_69
,[charge_doctor_code] mrbase_70
,[charge_doctor_signature] mrbase_71
,[resident_code] mrbase_72
,[resident_code] mrbase_73
,[resident_signature] mrbase_74
,[responsible_nurse_code]  mrbase_75 --有空值
,[postgraduate_doctor_code] mrbase_76
,[responsible_nurse_signature]  mrbase_77
,[postgraduate_doctor_signature] mrbase_78
,[internship_doctor_signature]  mrbase_79
,[coder_signature] mrbase_80
,[medical_record_quality_code] mrbase_81
,[quality_control_doctor_code] mrbase_82
,[quality_control_doctor_signature] mrbase_83
,[quality_control_nurse_code]  mrbase_84
,[quality_control_nurse_signature] mrbase_85
,left([quality_control_date],4)+'-'+substring([quality_control_date],5,2)+'-'+substring([quality_control_date],7,2) mrbase_86
,[death_patient_autopsy_flag] mrbase_87
,[abo_blood_type_code] mrbase_88
,[rh_blood_type_code]  mrbase_89
,[Top_nursing_days]  mrbase_90
,[one_level_nursing_d]  mrbase_91
,[two_level_nursing_days]  mrbase_92
,[three_level_nursing_days] mrbase_93
,[transfusion_reaction] mrbase_94
,[red_blood_cell] mrbase_95
,[blood_cells]  mrbase_96
,[blood_plasma]  mrbase_97
,[whole_blood]  mrbase_98
,[autologous_blood_transfusion] mrbase_99
,[age_month] mrbase_100
,[newborn_birth_weight] mrbase_101
,[newborn_birth_weight] mrbase_102
,[newborn_birth_weight] mrbase_103
,[newborn_birth_weight] mrbase_104
,[newborn_birth_weight] mrbase_105
,[newborn_in_weight] mrbase_106
,[head_injury_before_in_day] mrbase_107
,[head_injury_before_in_hour] mrbase_108
,[head_injury_before_in_min]  mrbase_109
,[head_injury_after_in_day]  mrbase_110
,[head_injury_after_in_hour] mrbase_111
,[head_injury_after_in_min]  mrbase_112
,[invasive_ventilator_time] mrbase_113
,[tumor_stage_T] mrbase_114
,[tumor_stage_N] mrbase_115
,[tumor_stage_M] mrbase_116
,[out_31d_flag]  mrbase_117
,[out_31d_purpose] mrbase_118
,[out_way_code] mrbase_119
,[intend_receive_medical_institution] mrbase_120
,[clinic_diagnosis_name]  mrbase_121
,[clinic_diagnosis_code] mrbase_122
,[in_diagnosis_code] mrbase_123
,[in_diagnosis_name] mrbase_124
,[diagnosis_date]   mrbase_125
,[in_condition] mrbase_126
,[pathology_list] mrbase_127_s
,[diagnosis_list]  mrbase_128_s
,[surgery_list]  mrbase_129_s
,[critical_illness_list]  mrbase_130_s
,[total_hospital_fee] mrbase_132
,[total_hospital_own_fee]  mrbase_133
,[comprehensive_general_service_fee] mrbase_134
,[comprehensive_general_treatment_fee] mrbase_135
,[comprehensive_nursing_fee] mrbase_136
,[comprehensive_other_fee] mrbase_137
,[diagnosis_pathology_fee] mrbase_138
,[diagnosis_lis_fee] mrbase_139
,[diagnosis_pacs_fee] mrbase_140
,[diagnosis_clinical_item_fee]  mrbase_141
,[treatment_no_surgery_item_fee] mrbase_142
,[treatment_clinical_physiotherapy_fee] mrbase_143
,[treatment_surgery_total_fee] mrbase_144
,[treatment_anaesthesia_fee] mrbase_145
,[treatment_surgery_fee]  mrbase_146
,[recovery_fee] mrbase_147
,[tcm_treatment_fee] mrbase_148
,[west_medicine_fee]  mrbase_149
,[west_medicine_antibiotic_fee] mrbase_150
,[tcm_patent_fee]  mrbase_151
,[tcm_herbal_fee] mrbase_152
,[blood_fee]  mrbase_153
,[blood_albumin_product_fee]  mrbase_154
,[blood_globulin_product_fee]  mrbase_155
,[blood_coagulation_factor_product_fee]  mrbase_156
,[blood__cytokine_product_fee]  mrbase_157
,[material_inspection_one_time_material_fee] mrbase_158
,[material_treatment_one_time_material_fee]  mrbase_159
,[material_surgery_one_time_material_fee]  mrbase_160
,[in_other_fee] mrbase_161
,'' mrbase_162 --V1.3无字段
,'' mrbase_163 --V1.3无字段
,'' mrbase_164 --V1.3无字段
,'' mrbase_165 --V1.3无字段
,'' mrbase_166 --V1.3无字段
,'' mrbase_167 --V1.3无字段
,'' mrbase_168 --V1.3无字段
,'' mrbase_169 --V1.3无字段
,convert(datetime2(0),getdate(),120) mrbase_170
,[last_update_time]  mrbase_171
,'' mrbase_172 --更新人工号无值
,'' mrbase_173	--更新人姓名无值
FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[odr_ip_mrbase_info] a

  </select>
      <!--根据id查询信息mrbase_127-->
      <select id="getMrbase127byId" resultType="com.example.demo.pojo.model.Ods_ip_mrbase_info_1.Mrbase_127" parameterType="java.lang.String">
select top 10
[medical_institution_code] mrbase_01
,[medical_record_number]  mrbase_04
,[pathology_number] mrbase_127_2
,[pathology_xh]  mrbase_127_1
,[pathology_diagnosis_name] mrbase_127_3
,[pathology_diagnosis_disease_code] mrbase_127_4
,[last_update_time]
FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[odr_ip_mrbase_pathology] a WHERE [medical_institution_code]=#{0} and [medical_record_number]=#{1}

      </select>
      <!--根据id查询信息mrbase_128-->
      <select id="getMrbase128byId" resultType="com.example.demo.pojo.model.Ods_ip_mrbase_info_1.Mrbase_128" parameterType="java.lang.String">
select top 10
 [medical_institution_code] mrbase_01
,[medical_record_number]  mrbase_04
,[diagnosis_type]  mrbase_128_1
,[out_diagnosis_number] mrbase_128_2
,[out_main_diagnosis_name] mrbase_128_3
,[out_main_diagnosis_name] mrbase_128_4
,[out_main_diagnosis_in_disease_name] mrbase_128_5
--出院情况 mrbase_128_6   该字段缺失
,[out_main_diagnosis_code]  mrbase_128_7
--本机构出院诊断名称 mrbase_128_8
,[last_update_time]  mrbase_171
FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[odr_ip_mrbase_diagnosis] a WHERE [medical_institution_code]=#{0} and [medical_record_number]=#{1}

      </select>
      <!--根据id查询信息mrbase_129-->
      <select id="getMrbase129byId" resultType="com.example.demo.pojo.model.Ods_ip_mrbase_info_1.Mrbase_129" parameterType="java.lang.String">
        select top 10
[medical_institution_code] mrbase_01
,[medical_record_number]  mrbase_04
,[surgery_number] mrbase_129_1
,[surgery_code] mrbase_129_2
,[surgery_name]  mrbase_129_3
--本机构手术操作代码 mrbase_129_4
--本机构手术诊断名称 mrbase_129_5
,left([surgery_start_date],4)+'-'+substring([surgery_start_date],5,2)+'-'+substring([surgery_start_date],7,2)
+' '+substring([surgery_start_date],10,2)+':'+substring([surgery_start_date],12,2)+':'+substring([surgery_start_date],14,2) mrbase_129_6 --时间有空值，1900-01-01
,[surgery_level_code] mrbase_129_7
,[surgery_continue_time] rbase_129_8
,[surgery_doctor_signature] mrbase_129_9
,[first_assisted_name] mrbase_129_10
,[second_assisted_name]  mrbase_129_11
,[surgery_incision_heal_level_code] mrbase_129_12
,[anaesthesia_method_code] mrbase_129_13
,[anaesthesia_grade] mrbase_129_14
,[anesthesiologist_name] mrbase_129_15
--手术分类 mrbase_129_16
,[last_update_time]
FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[odr_ip_mrbase_surgery] a WHERE [medical_institution_code]=#{0} and [medical_record_number]=#{1}

      </select>
      <!--根据id查询信息mrbase_130-->
      <select id="getMrbase130byId" resultType="com.example.demo.pojo.model.Ods_ip_mrbase_info_1.Mrbase_130" parameterType="java.lang.String">
select top 10
[medical_institution_code] mrbase_01
,[medical_record_number]  mrbase_04
,[critical_illness_number] mrbase_130_1
,[intensive_care_unit_name] mrbase_130_2
,[in_intensive_care_unit_time]  mrbase_130_3
,[out_intensive_care_unit_time]  mrbase_130_4
,[last_update_time]  mrbase_171
FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[odr_ip_mrbase_critical_illness] a WHERE [medical_institution_code]=#{0} and [medical_record_number]=#{1}

      </select>

</mapper>