<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.Ods_patient_base_infoMapper">

    <!--查询信息-->
    <select id="getInfo" resultType="com.example.demo.pojo.model.Ods_patient_base_info">
         /****** Script for SelectTopNRows command from SSMS  ******/
SELECT top 550 [medical_institution_code] patientinfo_01,
      '贵航安顺医院' patientinfo_02
      ,[patient_id] patientinfo_03
	  ,[patient_name] patientinfo_04
	  ,[sex_code] patientinfo_05
      ,left([birthday],4)+'-'+substring([birthday],5,2)+'-'+right([birthday],2) patientinfo_06
	  ,[profession_type_code] patientinfo_07
	  ,[nationality_code] patientinfo_08
      ,[nation_code] patientinfo_09
	  ,[education_code] patientinfo_10
	  ,[marriage_state_code] patientinfo_11
	  ,[id_category_code] patientinfo_12
      ,[patient_identity_card_number] patientinfo_13
      ,[health_card_code] patientinfo_14
	  ,[medicare_card] patientinfo_15
	  ,[patient_address_province] patientinfo_16
      ,[patient_address_city] patientinfo_17
      ,[patient_address_county] patientinfo_18
      ,[patient_address_town] patientinfo_19
      ,[patient_address_village] patientinfo_20
      ,[patient_address_house_number] patientinfo_21
	  ,patientinfo_22 =concat([present_address_province],[present_address_city],[present_address_county]) --现住址
	  ,[patient_telephone_number]  patientinfo_23
	  ,[is_master]  patientinfo_24
	  ,[is_household_register]  patientinfo_25
	  ,[administrative_division] patientinfo_26
	  ,[present_address_postal_code] patientinfo_27
	  ,[abo_blood_type_code] patientinfo_29
	  ,[rh_blood_type_code] patientinfo_30
	  ,[work_unit_name] patientinfo_31
	  ,[work_telephone_number] patientinfo_32
	  ,[legal_name]  patientinfo_33
      ,[legal_agent_patient_relationship_code] patientinfo_34
      ,[legal_telephone_number] patientinfo_35
      ,[legal_name_second] patientinfo_36
      ,[legal_agent_patient_relationship_code_second] patientinfo_37
      ,[legal_telephone_number_second] patientinfo_38
	  ,[create_doc_author_code] patientinfo_39
      ,[create_doc_author_name] patientinfo_40
      ,left([create_doc_date],4)+'-'+substring([create_doc_date],5,2)+'-'+substring([create_doc_date],7,2)+' '+substring([create_doc_date],10,2)+':'+substring([create_doc_date],12,2)+':'+substring([create_doc_date],14,2) patientinfo_41
	  ,[religion]  patientinfo_42
	  ,patientinfo_43= concat([native_place_province],[native_place_city],[native_place_county])
	  ,''patientinfo_44
	  ,[contact_name] patientinfo_45
	  ,patientinfo_46=concat ([contact_address_province],[contact_address_city],[contact_address_county]) -- 联系人居住地址
	  ,[contact_telephone_number] patientinfo_47
      ,[contact_telephone_number] patientinfo_48
	  ,'' patientinfo_49
	  ,'' patientinfo_50
	  ,convert(datetime2(0),getdate(),120) patientinfo_51
	  ,left([last_update_time],4)+'-'+substring([last_update_time],5,2)+'-'+substring([last_update_time],7,2)+' '+substring([last_update_time],10,2)+':'+substring([last_update_time],12,2)+':'+substring([last_update_time],14,2) patientinfo_52
	  ,[upter_doc_author_code] patientinfo_53
      ,[upder_doc_author_name] patientinfo_54
      FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[odr_patient_base_info]
    </select>
</mapper>