<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.OdsOpMaper">

    <!--查询信息-->
    <select id="getods_op_adm_info" resultType="com.example.demo.pojo.model.Ods_op_adm_info">
        /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 10
 	[medical_institution_code] opadm_01 --'医疗机构组织机构代码'
,   '贵航安顺医院' opadm_02
,   [clinic_number] opadm_03
,  	[patient_id]   opadm_04
,(SELECT
      [jz_type_id]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERJZLX] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code])  opadm_05
,(SELECT
      left([value],4)+'-'+substring([value],5,2)+'-'+substring([value],7,2)+' '+substring([value],10,2)+':'+substring([value],12,2)+':'+substring([value],14,2)
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDATETYPE] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[date_type_id]='挂/退号时间') opadm_06
,(SELECT
      [jz_type_id]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERGHLB] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code]) opadm_07
,  (SELECT
      [ghfs_type_id]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERYNBOOK] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code])opadm_08
, a.[clinic_fee] opadm_09
,(SELECT
     [yytj_type_id]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERYYTJ] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code]) opadm_10
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERTF] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[tf_type_id]='1') opadm_11
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERTF] b  where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[tf_type_id]='2') opadm_12
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERTF] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[tf_type_id]='3') opadm_13
,(SELECT
      left([value],4)+'-'+substring([value],5,2)+'-'+substring([value],7,2)+' '+substring([value],10,2)+':'+substring([value],12,2)+':'+substring([value],14,2)
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDATETYPE] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[date_type_id]='就诊日期时间') opadm_14
,(SELECT
      [sflx_type_id]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERHZLX] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code]) opadm_15
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDEPTID] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ks_type_id]='2') opadm_16
,'就诊科室名称'  opadm_17
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDEPTID] b  where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ks_type_id]='1') opadm_18
,'本机构就诊科室名称' opadm_19
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDATETYPE] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[date_type_id]='分诊日期时间') opadm_20
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDATETYPE] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[date_type_id]='医生叫号日期时间')  opadm_21
,isnull((
SELECT  [EmplCode]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[EMPLOYEE] c
  , [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDOCTID] b
  where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ry_type_id]='1' and b.value=c.[EmplName]),'null')  opadm_22
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDOCTID] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ry_type_id]='1') opadm_23
,[pay_fee] opadm_24
,[clinic_count] opadm_25
,isnull((SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERZD] b  where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[zd_type_id]='1'),'null') opadm_26
,'-' opadm_27
, (SELECT  [EmplCode]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[EMPLOYEE] c
  , [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDOCTID] b
  where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ry_type_id]='2' and b.value=c.[EmplName]) opadm_28
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDOCTID] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ry_type_id]='2') opadm_29
,convert(datetime2(0),getdate(),120) opadm_30
,left([last_update_time],4)+'-'+substring([last_update_time],5,2)+'-'+substring([last_update_time],7,2)+' '+substring([last_update_time],10,2)+':'+substring([last_update_time],12,2)+':'+substring([last_update_time],14,2) opadm_31
,(SELECT  [EmplCode]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[EMPLOYEE] c
  , [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDOCTID] b
  where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ry_type_id]='2' and b.value=c.[EmplName]) opadm_32
,(SELECT
      [value]
  FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTERDOCTID] b where a.[clinic_number]=b.[clinic_number] and a.[medical_institution_code]=b.[medical_institution_code] and b.[ry_type_id]='2') opadm_33
 FROM [CDYX].[YXTRAN_CDR_SAVE].[dbo].[REGISTER] a
    </select>
</mapper>